<h1>Blackjack!</h1>

<p>Welcome, <%=session[:player_name]%>.</p>
<br>

<div class="well">
<h4>The Dealer's cards are:</h4>
<br>


	<% session[:dealer_cards].each do |card| %>
		<%= card_image(card) %>
	<% end %>

</div>

<br>
<div class="well">
<p>
	<h4><%= session[:player_name] %>, your cards are:</h4>
<br>


	<% session[:player_cards].each do |card| %>
		<%= card_image(card) %>
	<% end %>


<h5>Your total is: <%= calculate_total(session[:player_cards]) %></h5>
</div>		
		


<p>
<%if @show_hit_or_stay %>
What would you like to do?
<form id="hit_form" action="/game/player/hit" method='post'>
	<input type="submit" class="btn btn-success" value="hit" />
</form>
<form id="stay_form" action="/game/player/stay" method='post'>
	<input type="submit" class="btn btn-danger" value="stay" />
</form>
<% end %>
</p>